#root {
  font-family: "Cambay", sans-serif;
  font-family: "Lato", sans-serif;
  background-image: radial-gradient(#d5f3ff, #51b4e8);
  offset: 0px, 4.85px, rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: bottom;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  transition: 0.4 ease-out;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

.title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
}

.switch {
  --secondary-container: white;
  --primary: #51b4e8;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 2em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  margin: 2px 0;
  border-radius: 20px;
  left: 0.2rem;
  bottom: 0em;
  background-color: #362a84;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(3rem);
}

.searcher-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 80%;
  max-width: 450px;
  margin: 2rem auto;
}

.searcher-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  padding: 1rem;
  border: none;
  background-color: #51b4e8;
  color: white;
  border-radius: 1rem;
  box-shadow: inset 0px 12px 10px -10px #ffffff;
}

.searcher-icon {
  font-size: 2.5rem;
}

.searcher-input {
  background-color: transparent;
  appearance: none;
  border: none;
  width: 90%;
  height: 30px;
  margin: 0 1rem;
  padding: 0;
  color: white;
  font-size: 19px;

}

.searcher-input:focus::placeholder {
  opacity: 0.7;
}

.searcher-container .searcher-input:focus {
  border: none;
  appearance: none;
  outline: none;
}

.weather {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather_box {
/* 
  clip-path: polygon(
    16% 3%,
    95% 23%,
    97% 25%,
    99% 28%,
    100% 32%,
    100% 100%,
    0 100%,
    0% 4%,
    5% 1%,
    0% 0%
  );
   */
  display: flex;
  margin: 7rem auto 3rem;
  max-width: 400px;
  background-image: linear-gradient(#ffffff, #d5f3ff);
  width: 90%;
  border-radius: 36px;
  padding: 1.5rem 0.6rem 2rem;
  font-size: 10rem;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.315);
}

.weather_image {
  transform: scale(0.9);
  position: absolute;
  right: -30px;
  top: -40px;
  z-index: 999;
}

.weather_temp {
  color: #026EED;
  font-size: 80px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location {
  color: #026EED;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.data-weather{
  font-size: 14px;
  color: #026EED;
  font-weight: 600;
  margin: 4px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weather-data{
  width: 130px;
  display: flex;
  flex-direction: column;
}

.data-weather span{
  text-align: right;
}

.data-status{
  font-size: 19px;
  color: #026EED;
  font-weight: 600;
  margin: 4px 10px;
  position: absolute;
  right: 15px;
  bottom: 20px;
  margin: 10px;
}

.weather-box_c2{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.weather_button {
  border: none;
  background-color: #38A0D8;
  width: 178px;
  height: 38px;
  border-radius: 10px;
  position: relative;
  color: #ffff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.date {
  color: #026EED;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding: 5rem 0 0;
}

::placeholder {
  color: white;
  font-size: 2rem;
}
