* {
  margin: 0;
  padding: 	0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  background-image: linear-gradient(to left, #134074, #256798, #4190b9, #66bad8, #91e5f6);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

header {
  background: transparent;
  position: fixed;
  width: 100%;
}

.searcher-container {
  width: 100%;
  margin: 0 0 7rem;
}

.searcher-container .searcher-input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 15px 15px;
  margin-top: -5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.searcher-container .searcher-input:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

h1 {
  display: none;
}

main {
  min-height: 100vh;
  padding-top: 10rem;/* 
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.5)); */
}

.location-box .location {
  color: #fff;
  font-size: 3.3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather_box {
  display: flex;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 16px;
  padding: 1.5rem .4rem;
  font-size: 10rem;
}

.weather_temp {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 3rem 0 0 0;
  font-weight: lighter;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.weather_image {
  transform: scale(0.7);
  position: relative;
  left: -30px;
}

span {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather_button {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 200px;
  border-radius: 16px;
  padding: 1.5rem .4rem;
  position: relative;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}


